#footer {
  background-color:#FFCFAB;
  background-image:url('../images/global/footer-squiggle-light.svg'), url('../images/global/footer-grid-light.png'), linear-gradient(#FFE8E3 0%, #FFCFAB 100%);
  background-size:56px 47px, calc(323px / 3) calc(501px/3), cover;
  background-repeat:repeat-x, repeat, no-repeat;
  background-position:top center;
  background-blend-mode:normal, soft-light, normal;
  overflow:hidden;


  color:#B8440C;
  padding:60px 0 30px;
  margin-top:80px;
}
#footer div {
  position:relative;
  z-index:1;
}
#footer .flex-row {
  flex-wrap:wrap;
}
#footer .flex-row div {
  width:190px;
  padding-bottom:1.5em;
}
#footer h4 {
  font-size:1.6em;
  margin:1.5em 0 1em;
}
#footer h5 {
  font-family:inherit;
  font-size: 1.2em;
  font-weight: 900;
  margin: 0.4em 0;
}
#footer a {
  display:block;
  text-wrap:nowrap;
  color:inherit;
  margin:.25em 0;
}
#footer a.you-are-here {color:var(--highlight);}
#footer a.you-are-here::before {
  content:'•';
  display:inline-block;
  margin-left:-0.8em;
  margin-right:5px;
}

/* form */
#footer #contact {
  flex-grow:1;
  position:relative;
  z-index:0;
}
#footer #contact > * {
  position:relative;
  z-index:1;
}
#footer #contact .bg {
  position:absolute;
  inset: -80px 0 0 -60px;
  max-width: 120%;
  z-index:0;
}
#footer form {
  position:relative;
  margin:.5em 0;
}
#footer form input {
  border:2px solid var(--highlight);
  border-radius:10px;
  font-size:1em;
  padding:8px;
  width:calc(100% - 14px);
}
#footer form input::placeholder {
  color:#ccc;
  font-weight:300;
}
a#footer-email {
  margin:0;
  position:absolute;
  top:.1em;
  right:.1em;
}
#footer-email img {
  display:block;
  filter:saturate(0);
  transition:filter 100ms ease;
  max-width:1.8em;
}
#footer form input.valid + a img {
  filter:saturate(100%);
}
#footer form p {
  font-size:.85em;
  margin-top:.8rem;
}
#footer #last-line {font-size:.85em;}

@media(min-width:768px) {
  #footer h4 {margin:1em 0 .5em;}
  #footer .flex-row div {width:33%;}
}
@media(min-width:1000px) {
  #footer .flex-row div {
    width:21%;
  }
  #footer #contact {
    width:37%;
  }
}

@media(prefers-color-scheme:dark) {
  #footer {
    background-color:black;
    background-image:url('../images/global/footer-squiggle-dark.svg'), url('../images/global/footer-grid-dark.png'), linear-gradient(#FFE8E30A 0%, #FFCFAB0A 100%);
    background-blend-mode:normal;
    color:inherit;
  }
  #footer a {color:inherit;}
  #footer form input {
    background-color:#111;
    color:inherit;
  }
  #footer form input:focus {
    background-color:#1e1e1e;
  }
}
