@import url('vars.css');
@import url('navbar.css');
@import url('footer.css');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.fat-b::before, .fat-a::after,
.fal-b::before, .fal-a::after,
.far-b::before, .far-a::after,
.fas-b::before, .fas-a::after {
  content:'\f2b4';
  display:inline-block;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
}
.fat-b::before, .fat-a::after {font:var(--fa-font-thin);}
.fal-b::before, .fal-a::after {font:var(--fa-font-light);}
.far-b::before, .far-a::after {font:var(--fa-font-regular);}
.fas-b::before, .fas-a::after {font:var(--fa-font-solid);}
*.contain > * {
  max-width:var(--container-max);
  margin-right:auto;
  margin-left:auto;
  padding-right:var(--container-padding);
  padding-left:var(--container-padding);
}
body {
  background-color:var(--background-primary);
  color:var(--text-primary);
  margin:0;
  position:relative;
}
body, .body-font {
  font-size:1.3rem;
  font-family:"Inter", sans-serif;
  font-optical-sizing:auto;
  font-style:normal;
  font-weight:300;
}
h1, h2, h3, h4, h5, h6, .display-font {
  font-family:"Heebo", sans-serif;
  font-optical-sizing:auto;
  font-weight:900;
  font-style:normal;
}
h3 {
  font-size:2em;
  margin:.5em 0 .25em;
  line-height:110%;
}
p {margin:.5em 0;line-height:150%;}
a {text-decoration:none;}
.links a {
  color:var(--text-primary);
  display:block;
  max-width:fit-content;
  font-weight:bold;
}
a-arrow {display:block;padding:4px 0;}
a.trailing-arrow:hover::after {
  padding-right:0;
  padding-left:10px;
}
a.trailing-arrow::after {
  content:'\f061';
  color:var(--highlight);
  padding-right:6px;
  padding-left:4px;
  transition:all ease 70ms;
}

[data-lang="jp"] {word-break:break-all;}

[class^='i-block'] {display:inline-block;}
.inline {display:inline;}
.iblock {display:inline-block;}
.i-iblock-768 {display:inline;}
.block-iblock-768 {display:block;}
@media (min-width:768px) {
  [class$="iblock-768"] {display:inline-block;}
}

.flex-row {
  display:flex;
  flex-flow:row;
}
.flex-col {
  display:flex;
  flex-flow:column;
}
[class^='flex-col-row'] {
  display:flex;
  flex-flow:column;
  width:calc(100vw - 80px);
  width:-webkit-fill-available;
}
@media (min-width:768px) {
  .flex-col-row {flex-flow:row;}
}
@media (min-width:1000px) {
  .flex-col-row-1k {flex-flow:row;}
}

emoji-img img {
  display:inline-block;
  margin-bottom:-.1em;
  max-height:1.25em;
  user-select:none;
  -webkit-user-select:none;
}

