header {
  background-color:var(--header-background);
  padding-bottom:40px;
}
.headline-img {
  max-width:80vw;
  margin-left:16px;
  margin-top:min(15vh, 110px);
  padding-top:16px;
  padding-right:20px;
  filter: drop-shadow(1px 1px transparent) drop-shadow(2px 2px transparent) drop-shadow(3px 3px transparent) drop-shadow(4px 4px transparent) drop-shadow(5px 5px transparent);
  transition:filter ease-in 450ms, padding ease-in 450ms, margin-left ease-in 450ms;
  transition-delay:1s;
}
.headline-img.shadow {
  margin-left:0;
  padding-top:0;
  padding-bottom:16px;
  filter: drop-shadow(1px 1px black) drop-shadow(2px 2px black) drop-shadow(3px 3px black) drop-shadow(4px 4px black) drop-shadow(5px 5px black);
}
header {position:relative;color:black;}
header h2 {margin:.5rem 0 1rem;font-weight:normal;}
header h2 b {font-weight:900;}
header .buttons {
  display:flex;
  align-items:flex-start;
  gap:8px;
}
.shadow-button {
  background-color:white;
  border:2px solid black;
  border-radius:6px;
  box-shadow:1px 1px 0 0 black, 2px 2px 0 0 black, 3px 3px 0 0 black, 4px 4px 0 0 black;
  color:black;

  display:inline-block;
  cursor:pointer;
  font-size:1rem;
  font-weight:500;
  padding:8px 10px;

  transition:all 100ms;
}
.shadow-button:not([disabled]):hover {
  transform:translate(4px, 4px);
  box-shadow:0 0 0 0 black, 0 0 0 0 black, 0 0 0 0 black, 0 0 0 0 black;
}

/* desktop */
@media (min-width:1024px) {
  .headline-img {
    max-width:60vw;
    margin-left:0;
  }
  .headline-img.shadow {
    margin-left:-16px;
  }
}


#header + section {position:relative;}
#header + section::before {
  content:'';
  aspect-ratio:3.2;
  background-color:var(--background-primary);
  background-image:url('../images/global/below-header-wedge-light.svg');
/*  background-blend-mode:color-burn;*/
  background-size:cover;
  background-repeat:no-repeat;

  display:block;
  position:absolute;
  inset:-1px 0 0;
  z-index:-1;
}
@media (min-width:1100px) {
  #header + section::before {
    background-size:contain;
    background-image:url('../images/global/below-header-wedge-short-light.svg');
  }
}
@media(prefers-color-scheme:dark) {
  #header + section::before {
    background-image:url('../images/global/below-header-wedge-dark.svg');
  }
}
@media(prefers-color-scheme:dark) and (min-width:1100px) {
  #header + section::before {
    background-image:url('../images/global/below-header-wedge-short-dark.svg');
  }
}
