#good-great {
  margin:calc(var(--container-padding) * 6) var(--container-padding) calc(var(--container-padding) * 5);
  width:auto;
}
#good-great > div {
  background-color:var(--paper-color);
  padding:0 var(--container-padding) 40px;
  border-radius:0 0 30px 30px;

  width:-webkit-fit-content;
  max-width:100%;

  align-items:start;
  justify-content:center;
  position:relative;
}
#good-great > div::before,
#good-great > div::after {
  content:'';
  background-size:100% 100%;
  background-repeat:no-repeat;

  position:absolute;
  display:block;
  aspect-ratio:7.03797468529;
  z-index:-1;
}
#good-great > div::before {
  background-image:url(../images/global/paper-blank-light-top.svg);
  bottom:calc(100% - 2px);
  right:0;
  left:0;
}
@media(prefers-color-scheme:dark) {
  #good-great > div::before {
    background-image:url(../images/global/paper-blank-dark-top.svg);
  }
}

#good-great h4 {
  font-size:1.4em;
  margin:.4em 0 .8em;
}
#good-great strong {color:var(--highlight);}
#good-great p {
  margin:0;
  line-height:140%;
}
#good-great .slogan ~ p {
  margin-top:20px;
  max-width:600px;
}
#good-great .slogan ~ p::after {
  content:'';
  width:min(20vw, 120px);
  height:min(20vw, 120px);
  background-image:url(../images/emoji/peace.png);
  background-size:contain;

  position:absolute;
  z-index:0;
  bottom:-70px;
  right:30px;
}
#good-great a {font-weight:600;}

@media(min-width:768px) {
  #good-great .slogan ~ p::after {
    bottom:-100px;
    right:0;
    bottom:-80px;
  }
}
@media(min-width:800px) {
  #good-great {
    margin-top:calc(var(--container-padding) * 2);
    margin-bottom:calc(var(--container-padding) * 3);
  }
  #good-great > div {
    border-radius:0;
    padding:calc(var(--container-padding) * 2) var(--container-padding);
    width:fit-content;
  }
  #good-great > div::before,
  #good-great > div::after {
    background-size:100% 100%;
    aspect-ratio:0.1420863309;
    inset:unset;
    top:0;
    bottom:0;
  }
  #good-great > div::before {
    background-image:url(../images/global/paper-blank-light-left.svg);
    right:calc(100% - 2px);
  }
  #good-great > div::after {
    background-image:url(../images/global/paper-blank-light-right.svg);
    left:calc(100% - 2px);
  }

  #good-great .slogan ~ p {max-width:600px;}
  #good-great .slogan ~ p::after {right:-40px;}
}
@media(prefers-color-scheme:dark) and (min-width:800px) {
  #good-great > div::before {
    background-image:url(../images/global/paper-blank-dark-left.svg);
  }
  #good-great > div::after {
    background-image:url(../images/global/paper-blank-dark-right.svg);
  }
}
