@import url('header.css');
@import url('home-ds-experts.css');
@import url('home-good-company.css');
@import url('home-billions.css');
@import url('home-ghost-engineers.css');
@import url('home-try-us.css');
@import url('home-holistic.css');
/*@import url('home-good-great.css');*/

#logo {display:none;}
@media (min-width:430px) {
  #logo {display:inline-block;}
}


#good-great {
  margin-top:var(--container-padding);
  padding:var(--container-padding) 0;
}
#good-great > div {
  align-items:start;
  justify-content:center;
  position:relative;
}
#good-great h4 {
  font-size:1.4em;
  margin:0.8em 0;
}
#good-great strong {color:var(--highlight);}
#good-great p {
  margin:0;
  line-height:140%;
}
#good-great p:last-child {max-width:600px;}
#good-great p:last-child::after {
  content:'';
  width:min(20vw, 120px);
  height:min(20vw, 120px);
  background-image:url(../images/emoji/peace.png);
  background-size:contain;

  position:absolute;
  z-index:-1;
  bottom:-70px;
  right:30px;
}
#good-great a {font-weight:600;}

@media(min-width:540px) {
  #good-great p:last-child {margin-bottom:60px;}
}
@media(min-width:768px) {
  #good-great p {width:max-content;}
  #good-great p:last-child {margin-bottom:40px;}
  #good-great p:last-child::after {
    bottom:-100px;
    right:0;
    bottom:-80px;
  }
}
@media(min-width:800px) {
  #good-great > div {width:max-content;}
  #good-great p:last-child {margin-bottom:0;}
  #good-great p:last-child::after {right:-40px;}
}
