#holistic-approach {
  padding-top:120px;
}
#holistic-approach .image-container {
  display:flex;
  justify-content:center;
  max-width:100%;

  position:relative;
  transition:all .5s ease-in;
  transform:scale(.9);
}
#holistic-approach .image-container picture {
  max-width:60%;
  text-align:center;
  aspect-ratio:1.3;
  float:right;
}
#holistic-approach .overlaid {
  max-width:calc(100% - 20px);
  max-height:100%;
  position:absolute;
  z-index:2;
}
#holistic-approach .image-container img,
#holistic-approach .overlaid img {
  max-width:min(80%, 80vw);
  margin:0;
  transform:rotate(-3.5deg);
  transition-timing-function:ease-in;
  transition-duration:.5s;
  transition-property:transform, margin-top, margin-left;
}

#holistic-approach.animated .image-container img {
  transform:translate(20vw, 35px) rotate(-3.5deg);
}
#holistic-approach.animated .overlaid img {
  transform:translate(-20vw, -35px) rotate(-3.5deg);
}
#holistic-approach .behind {position:relative;}
#holistic-approach .behind::before {
  content:'';
  display:block;
  position:absolute;
  inset:0;
  z-index:1;

  opacity:0;

  background-size:contain;
  background-repeat:no-repeat;
}
#holistic-approach.animated .behind::before {
  opacity:1;
  transition:opacity .6s;
  transition-delay:.4s;

  background-image:url('../images/home/holistic-anim-lines-small.svg');
}


#holistic-approach .description {
  margin-top:-40px;
  position:relative;
  z-index:1;
}
@media(min-width:550px) {
  #holistic-approach .description {margin-top:-60px;}
}
@media(min-width:710px) {
  #holistic-approach .description {margin-top:-90px;}
}
@media(min-width:768px) {
  #holistic-approach .image-container {
    display:block;
    padding-right:20px;
    max-width:calc(50% - 20px);
  }
  #holistic-approach .image-container picture {
    max-width:unset;
  }
  #holistic-approach .image-container img,
  #holistic-approach .overlaid img {
    max-width:min(32vw, 70%);
  }
  #holistic-approach .image-container {
    padding-right:20px;
    transform:unset;
  }
  #holistic-approach.animated .image-container img {
    transform:rotate(-3.5deg);
    margin-top:60px;
    margin-left:80px;
  }
  #holistic-approach.animated .overlaid img {
    transform:rotate(-3.5deg);
    margin-top:-40px;
    margin-left:-100px;
  }
  #holistic-approach.animated .behind::before {
    background-image:url('../images/home/holistic-anim-lines-med.svg');
  }

  #holistic-approach .description {
    margin-top:-50px;
    width:50%;
  }
}

@media(min-width:1000px) {
  #holistic-approach .description {
    margin-top:-20px;
  }
  #holistic-approach.animated .image-container img {
    transform:rotate(-3.5deg);
    margin-top:40px;
    margin-left:90px;
  }
  #holistic-approach.animated .overlaid img {
    transform:rotate(-3.5deg);
    margin-top:-20px;
    margin-left:-110px;
  }
  #holistic-approach.animated .behind::before {
    background-image:url('../images/home/holistic-anim-lines-large.svg');
  }
}
