@import url('header.css');
@import url('home-ds-experts.css');
@import url('home-good-company.css');
@import url('home-billions.css');
@import url('home-ghost-engineers.css');
@import url('home-try-us.css');
@import url('home-holistic.css');
@import url('home-good-great.css');

#pipeline {text-align:center;}
#pipeline h2 {
  line-height:92%;
  margin:0.6em auto 0.4em;
  font-size:2em;
}
#pipeline h3 {
  font-size:1.2em;
  margin:0;
}
@media (min-width:768px) {
  #pipeline h2 {
    line-height:92%;
    margin:0.6em auto 0.4em;
    font-size:3.4em;
  }
  #pipeline h3 {
    font-size:1.7em;
    margin:0;
  }
}
