#try-us {
  margin-top:var(--col-gap);
}
#try-us > div {
  gap:calc(var(--col-gap) * 2);
  align-items:center;
}
#try-us .image-container {display:none;}
#try-us img {
  --border-color:black;
  --shadow-color:black;
  border:2px solid var(--border-color);
  border-radius:40px;
  box-shadow:5px 5px 0 var(--shadow-color), 10px 10px 0 var(--shadow-color), 15px 15px 0 var(--shadow-color), 20px 20px 0 var(--shadow-color);

  aspect-ratio:1;
  width:100%;
  width:-webkit-fill-container;
  height:auto;

  transform:rotate(-5.12deg);
  animation:rocking 6s;
  animation-iteration-count:infinite;
}
@media(prefers-color-scheme:dark) {
  #try-us img {
    --border-color:var(--header-background);
    --shadow-color:var(--highlight);
  }
}
@keyframes rocking {
  0% {transform:rotate(-5.12deg);}
  30% {transform:rotate(-3.2deg);}
  80% {transform:rotate(-5.12deg);}
}
@media(min-width:768px) {
  #try-us .image-container {
    display:flex;
    flex-flow:column;
    justify-content:flex-start;
    padding-right:var(--container-padding);
    align-items:center;
    width:calc(50% - var(--col-gap)/2);
  }
  #try-us .description {width:calc(50% - var(--col-gap)/2);}
}
@media(min-width:992px) {
  #try-us .image-container {width:calc(33% - var(--col-gap)/2);}
  #try-us .description {width:calc(66% - var(--col-gap)/2);}
}
