@import url('header.css');
@import url('home-ds-experts.css');
@import url('home-good-company.css');
@import url('home-billions.css');
@import url('home-ghost-engineers.css');
@import url('home-try-us.css');
@import url('home-holistic.css');
/*@import url('home-good-great.css');*/

#logo {display:none;}
@media (min-width:430px) {
  #logo {display:inline-block;}
}


#good-great {margin-top:var(--container-padding);}
#good-great > div {
  background-color:var(--paper-color);
  padding:calc(var(--container-padding) * 2) var(--container-padding);

  align-items:start;
  justify-content:center;
  position:relative;
}
#good-great h4 {
  font-size:1.4em;
  margin:0.8em 0;
}
#good-great strong {color:var(--highlight);}
#good-great p {
  margin:0;
  line-height:140%;
}
#good-great p:last-child {
  margin-top:20px;
  max-width:600px;
}
#good-great p:last-child::after {
  content:'';
  width:min(20vw, 120px);
  height:min(20vw, 120px);
  background-image:url(../images/emoji/peace.png);
  background-size:contain;

  position:absolute;
  z-index:0;
  bottom:-70px;
  right:30px;
}
#good-great a {font-weight:600;}

@media(min-width:540px) {
  #good-great p:last-child {margin-bottom:60px;}
}
@media(min-width:768px) {
  #good-great p {width:max-content;}
  #good-great p:last-child {margin-bottom:40px;}
  #good-great p:last-child::after {
    bottom:-100px;
    right:0;
    bottom:-80px;
  }
}
@media(min-width:800px) {
  #good-great {
    margin-top:calc(var(--container-padding) * 2);
    margin-bottom:calc(var(--container-padding) * 3);
  }
  #good-great > div {
    padding-right:0;
    width:max-content;
  }
  #good-great > div::before,
  #good-great > div::after {
    content:'';
    background-size:100%;
    background-repeat:no-repeat;

    position:absolute;
    display:block;
    aspect-ratio:0.1420863309;
    top:0;
    bottom:0;
    z-index:-1;
  }
  #good-great > div::before {
    background-image:url(../images/global/paper-blank-light-left.svg);
    right:calc(100% - 1px);
  }
  #good-great > div::after {
    background-image:url(../images/global/paper-blank-light-right.svg);
    left:calc(100% - 1px);
  }

  #good-great h4 {
    margin:0.4em 0 0.8em;
  }
  #good-great p:last-child {margin-bottom:0;}
  #good-great p:last-child::after {right:-40px;}
}
@media(prefers-color-scheme:dark) and (min-width:800px) {
  #good-great > div::before {
    background-image:url(../images/global/paper-blank-dark-left.svg);
  }
  #good-great > div::after {
    background-image:url(../images/global/paper-blank-dark-right.svg);
  }
}
