#billions .content{
  background-color:var(--background-primary);
  background-image:url('../images/home/billions-beige-blob.svg');
  background-blend-mode:color-burn;
  background-size:contain;
  background-repeat:no-repeat;
  background-position-x:10px;
  padding-bottom:110px;
}
@media(prefers-color-scheme:dark) {
  #billions .content{
    background-image:url('../images/home/billions-beige-blob-dark.svg');
    background-blend-mode:unset;
  }
}
#big-money {flex-grow:1;}
.powers {display:none;}
.cta-learn-secrets {
  display:flex;
  flex-flow:row;
  align-content:center;
  gap:16px;
}
.cta-learn-secrets div {
  font-size:1.3em;
  display:flex;
  flex-flow:column;
  justify-content:center;
  gap:16px;
}
.cta-learn-secrets p {
  color:var(--text-secondary);
  font-weight:bold;
  line-height:120%;
  margin:0;
}
@media (min-width:375px) {
  .cta-learn-secrets div {
    margin:-15px auto 0;
    max-width:75%;
  }
}
@media (min-width:450px) {
  .powers {
    max-width:34%;
    aspect-ratio:1;
  }
  .cta-learn-secrets .powers {display:block;}
  .cta-learn-secrets {flex-flow:row;}
  .cta-learn-secrets div {
    max-width:unset;
  }
}
@media (min-width:568px) {
  .cta-learn-secrets {gap:36px;}
}
@media (min-width:768px) {
  #big-money {max-width:74.5%;}
  #billions .flex-col-row {
    flex-flow:row-reverse;
    align-items:flex-end;
    gap:1.5%;
  }
  .powers {
    max-width:24%;
    margin:0 0 -60px;
  }
  .flex-col-row .powers {display:block;}
  .cta-learn-secrets {margin-left:0}
  .cta-learn-secrets .powers {display:none;}
  .cta-learn-secrets div {
    font-size:1.2em;
    gap:6px;
    margin-left:38%;
    margin-top:-10px;
  }
}
