@import url('header.css');
/*@import url('life-be-excellent.css');*/
/*@import url('life-make-magic.css');*/
@import url('life-no-office.css');
/*@import url('life-be-passionate.css');*/

#logo {display:none;}
@media (min-width:430px) {
  #logo {display:inline-block;}
}

#be-excellent .description {
  padding-top:100px;
  max-width:min(80%, 600px);
}
#be-excellent .image-container {
  margin-top:-40px;
  position:relative;
  text-align:center;
}
#be-excellent .image-container picture,
#be-excellent .image-container img {
  display:inline-block;
}
#be-excellent .image-container img {
  max-width:80%;
  animation:slow-spin 30s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-fill-mode:forwards;
  }
  @keyframes slow-spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-359.9deg);}
  }
}



#make-magic {}





#be-passionate {}
#be-passionate .passion {
  background-image:none;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  transform:rotate(0deg) translate(-40px,0) scale3d(.8, .8, .8);
  transition:transform .4s, background-image .05s;
  transition-delay:0, .25s;
}
#be-passionate .passion.animated {
  background-image:url('../images/life/passion-thumb.png');
  transform:rotate(80deg) translate(20px, -15px) scale3d(.8, .8, .8);
}
#be-passionate .passion picture {
  display:block;
  opacity:1;
  transition:opacity .3s;
}
#be-passionate .passion.animated picture{
  opacity:0;
}
