@import url('header.css');
/*@import url('life-be-excellent.css');*/
/*@import url('life-make-magic.css');*/
@import url('life-no-office.css');
/*@import url('life-be-passionate.css');*/

#logo {display:none;}
@media (min-width:430px) {
  #logo {display:inline-block;}
}


/* weird name */
#weird-name {}


/* full-width divider */
#img-divider {
  background-color:#E6B7B328;
  min-height:80px;
  margin:160px auto 60px;
}
#img-divider img {
  margin-top:-160px;
  max-width:220px;
}


/* no office */


/* be passionate */
#be-passionate .passion {
  background-image:none;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  transform:rotate(0deg) translate(-40px,0) scale3d(.8, .8, .8);
  transition:transform .4s, background-image .05s;
  transition-delay:0, .25s;
}
#be-passionate .passion.animated {
  background-image:url('../images/life/passion-thumb.png');
  transform:rotate(80deg) translate(20px, -15px) scale3d(.8, .8, .8);
}
#be-passionate .passion picture {
  display:block;
  opacity:1;
  transition:opacity .3s;
}
#be-passionate .passion.animated picture{
  opacity:0;
}

@media(min-width:768px){
  #be-passionate {margin-top:120px;}
  #be-passionate .passion {margin-top:-100px;}
  #be-passionate .flex-col-row > div {
    display:flex;
    flex-flow:column;
    justify-content:center;
  }
  #be-passionate .image-container {
    align-items:center;
    padding:0 1% 0 7%;
    width:40%;
    min-width:320px;
  }
  #be-passionate .description {
    align-items:flex-start;
    width:40%;
  }
}
