@import url('header.css');
/*@import url('team-weird-name.css');*/
/*@import url('team-whos-who.css');*/
/*@import url('team-network-affect.css');*/

#logo {display:none;}
@media (min-width:430px) {
  #logo {display:inline-block;}
}

/* be excellent */
#be-excellent .description {
  padding-top:100px;
  max-width:min(80%, 600px);
}
#be-excellent .image-container {
  margin-top:-40px;
  position:relative;
  text-align:center;
}
#be-excellent .image-container picture,
#be-excellent .image-container img {
  display:inline-block;
}
#be-excellent .image-container img {
  max-width:80%;
  animation:slow-spin 30s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  animation-fill-mode:forwards;
}
@keyframes slow-spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(-359.9deg);}
}


/* whos who */
#whos-who {}


/* make magic */
#make-magic {
  display:block;
  min-height:80px;
}
#make-magic .description {
  background-image:url('../images/life/magic-blobs.svg');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}
@media(min-width:768px){
  #make-magic .description {
    max-width:min(80%, 600px);
  }
}
