/* SIZES */
:root {
  color-scheme: light dark;
  --container-max:1100px;
  --container-max-buffer:calc(var(--container-max) + 100px);
  --container-padding:20px;
}
@media (min-width:768px) {
  :root {--container-padding:30px;}
}
@media (min-width:1000px) {
  :root {--container-padding:40px;}
}

/* COLORS */
:root {
  --text-primary:black;
  --text-strong:black;
  --text-secondary:#35576C;
  --field-placeholder:#ccc;
  --highlight:#FF5015;

  --header-background:#F9CA3D;
  --background-primary:white;
  --background-primary-transparent:#ffffff00;

}
@media(prefers-color-scheme:dark) {
 :root {
    --text-primary:#dfdfe4;
    --text-strong:white;
    --text-secondary:#b6c5cf;
    --field-placeholder:#666;
    --highlight:#FF5015;

    --background-primary:#1c1c1c;
    --background-primary-transparent:#1c1c1c00;
  }
}

/* STYLES */
.highlight {color:var(--highlight);}
.text-secondary {color:var(--text-secondary);}
.bold {font-weight:bold;}
