#good-company {
  background-color:var(--background-primary);
  position:relative;
  z-index:1;
}
#good-company .image-container {
  float:right;
  max-width:55vw;
  padding:0 0 50px 2vw;
  shape-outside:circle(36%) border-box;
  shape-margin:2rem;
}
#good-company .image-container img {
  display:block;
  max-width:min(55vw, 500px);
  margin-top:30px;
  margin-right:-7vw;
  margin-left:auto;
}
#good-company .description {
  background:var(--background-primary);
  max-width:650px;
  margin-right:auto;
  padding-bottom:60px;
}
#good-company .description h3 {margin-top:0;}
@media (min-width:620px) {
  #good-company .image-container {
    max-width:50vw;
    shape-outside:circle(40%) border-box;
  }
  #good-company .image-container img {
    max-width:min(50vw, 500px);
    margin-right:-3vw;
  }
}
@media (min-width:768px) {
  #good-company .image-container {
    position:relative;
  }
  #good-company .image-container::after {
    background-image:url('../images/curly-arrow.svg');
    background-repeat:no-repeat;
    background-size:contain;

    content:'';
    display:block;
    width:min(10vw, 100px);
    height:min(10vw, 100px);
    position:absolute;
    right:65%;
    bottom:-4%;
  }
}
@media (min-width:800px) {
  #good-company {
    background:linear-gradient(var(--background-primary-transparent) 0px, var(--background-primary) 100px);
    padding-top:120px;
  }
  #good-company .image-container {
    max-width:45vw;
    shape-outside: circle(50%) border-box;
    margin-top: -20px;
  }
  #good-company .image-container img {
    max-width:min(45vw, 500px);
    margin-top:0;
    margin-right:-2vw;
  }
}
@media (min-width:1000px) {
  #good-company > div {
    display:flex;
    flex-flow:row-reverse;
  }
  #good-company .image-container {
    width:44%;
    padding-left:6%;
    float:none;
  }
}
